/* Resetting some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 1rem 3rem;
  max-width: 1200px;
  margin: 0px auto;
}

.navbar .logo img {
  width: 60px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  color: rgb(54, 54, 54);
  text-decoration: none;
  font-weight: bold;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.welcome-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  border-radius: 8px;
  margin: 2rem auto;
  max-width: 1200px;
}

.info-section {
  max-width: 80%;
}

.info-section h1 {
  font-size: 4rem;
  color: #000000;
  margin-bottom: 1rem;
  font-weight: bold;
}

.info-section h1 span {
  color: #005bb5;
}

.info-section p {
  margin-bottom: 2.5rem;
}

.auth-buttons button {
  background-color: #0073e6;
  color: white;
  border: none;
  padding: 0.7rem 1.5rem;
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-buttons button:hover {
  background-color: #005bb5;
}

.logo-section .main-logo {
  width: 450px;
  height: auto;
}

footer {
  position: absolute;
  text-align: center;
  padding: 1rem;
  background-color: #f1f1f1;
  color: #333;
  font-size: 0.9rem;
  bottom: 0px;
  width: 100%;
}

footer a {
  color: #0073e6;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
